{{define "bottom"}}
</main>
<footer>
    <ul>
        <li><a href="https://twitter.com/xergon85">Twitter</a></li>
        <li><a href="http://github.com/xergon85">Github</a></li>
    </ul>
</footer>
</body>
</html>
{{end}}